<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>CanGwenCook Password Reset Request</h1>
    <p>
      Hi <%=@recipient.first_name %>, You recently requested a password reset.
    </p>
    <p>
      Your email address: <%= @recipient.email%>.
    </p>
    <p>If you'd like to reset your password, please follow the link below:</p>
    <a href='http://localhost:3001/password-reset'><button>Reset Password</button></a>
    <p>If you did not request this change, please contact us immediately at support@cangwencook.com. Please note we will never ask for your password over email or phone.</p>
    <p>Sincerely,</p>
    <p>The CanGwenCook Team</p>
    <a>cangwencook.com</a>
  </body>
</html>