<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Feedback Submitted by <%= @recipient.name %>: <%= @recipient.email %></h1>
    <p><%= @recipient.content %></p>

  </body>
</html>